{% extends 'base.html' %}
{% block conteudo %}
  <form action="/cadastrarUsuario" method="POST">

     <div class="form-floating mb-3">
        <input type="text" class="form-control" id="cpf" name="cpf" placeholder="CPF">
        <label>CPF</label>
     </div>

     <div class="form-floating mb-3">
        <input type="text" class="form-control" id="nome" name="nome" placeholder="nome">
        <label>Nome completo</label>
     </div>

     <div class="form-floating mb-3">
        <input type="text" class="form-control" id="telefone" name="telefone" placeholder="telefone">
        <label>Telefone</label>
     </div>

     <div class="form-floating">
        <input type="text" class="form-control" id="endereco" name="endereco" placeholder="endereco">
        <label>Endereço</label>
     </div>

    <br>

      <div class="col-12">
        <button type="submit" class="btn btn-primary">Cadastrar</button>
      </div>

  </form>

  <br>

  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" href="/listar">Consultar tudo</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/listarIndividual">Consultar Individual</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/atualizar">Atualizar</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/excluir">Excluir</a>
    </li>
  </ul>

{% endblock %}